.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    color:black;
    flex-direction: column;
}
.container>button{
    padding: 5px;
    background-color:plum;
    border: none;
    outline: none;
    border-radius: 5px;
    outline: none;
    border: none;
    

}
.container>button:active{
    background-color: antiquewhite;
    
}