.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: blue;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: blue;
    align-items: center;

}
h1{
    margin: 20px;
}
